# Configuration of the camera
camera:
{
    resolution = { width = 1920; height = 1080; };
    position = { x = 0; y = 0; z = 20; };
    rotation = { x = 0; y = 0; z = 0; };
    fieldOfView = 72.0; # In degree
};
# Primitives in the scene
primitives:
{
    // # List of spheres
    cylinders = (
        { x = 0; y = 100; z = -20; radius = 10; height = 60; color = { r = 255; g = 0; b = 0; };
            direction = { x = 0; y = 0; z = 1; };}
        // { position = { x = 0; y = 0; z = 0; }; radius = 1; height = 10; color = { r = 0; g = 255; b = 0; }; }
        // { position = { x = 0; y = 0; z = 0; }; radius = 1; height = 10; color = { r = 0; g = 0; b = 255; }; }
    );
    planes = (
        { axis = "Z"; position = -20; color = { r = 64; g = 64; b = 255; }; }
    );
};
# Light configuration
lights:
{
    ambient = 0.4; # Multiplier of ambient light
    diffuse = 0.6; # Multiplier of diffuse light
    # List of point lights
    point = (
        {x = 400; y = 100; z = 400}
        // {x = -400; y = 100; z = 500}
    );
    # List of directional lights
    directional = ();
};